{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% include 'elements/style.html' %}
</head>
<body>
{% include "elements/header.html" %}
{% block content %}
{% endblock %}
</body>
<script src ="{% static 'node_modules/bootstrap-material-design/dist/js/bootstrap-material-design.min.js' %}"></script>
</html>